<dl class="data-field-definition-list">
  {% for subfield, subitem in items %}
    {% if subitem.label %}
    <dt class="data-label-{{ subfield }}">{{ subitem.label }}</dt>
    {% endif %}
    <dd class="data-subfield-{{ subfield }}">{{ subitem.value }}</dd>
  {% endfor %}
</dl>
